.pokemon-list{
    display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;


}
.pokemon-list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemon-list-header{
margin-top :2rem;
font-size: x-large;
letter-spacing: 8px;
font-weight: bolder;

}
.page-controls button{
    padding: 10px 2rem;
    font-weight: bolder;
    margin-left: 2rem;
    border: none;
    background-color: salmon;
    border-radius: 15px;
}
.page-controls button:hover{
background-color: tomato;
}